<div class="container">
     <div class="card">
      <div class="card-body rounded">
       <div class="card-block text-center">
        <h3>Réservez votre candidat !</h3>
       </div>
        <div class="row g-0 mt-3">
          <div class="col-6">
            <div class="p-3 border bg-light">
              <h5>DEBUT</h5>
              <p>JJ/MM/YYYY</p>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light">
              <h5>FIN</h5>
              <p>JJ/MM/YYYY</p>
            </div>
          </div>
         </div>
      <div class="card-block text-center mt-3">
        <p>Total: 13€</p>
      <button type="button" class="btn btn-primary mt-3 mb-3">VALIDER</button>
      </div>
     </div>
    </div>
 </div>