<div class="form-container">
    <h1>Réservez Eric Zemour !</h1>
    <div class="form-body"> 
        <div class="date-picker-left">
            <h5>DEBUT</h5>
        </div>
        <div class="date-picker-right">
        <p>FIN</p>
        </div>
    </div>
    <span><p>Total: 13€</p></span>
    <button>VALIDER</button>

</div>