<div class="footer">
  <div class="footer-links">
    <a href="#" id="first_i"><i class="fab fa-instagram"></i></a>
    <a href="#" id="second_i"><i class="fab fa-facebook"></i></a>
    <a href="#" id="third_i"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-text">
    Le capitalisme  <i class="far fa-money-bill-alt"></i></i> democratique est en marche
  </div>
</div>