<div class="footer">
  <div class="footer-links">
    <a href="#" id="first_i"><i class="fab fa-instagram"></i></a>
    <a href="#" id="second_i"><i class="fab fa-facebook"></i></a>
    <a href="#" id="third_i"><i class="fab fa-twitter"></i></a>
    <a href="#" class="wagont"><img class="wagont" src="https://kitt.lewagon.com/placeholder/users/pyveslg" width="30" height="30" alt=""></a>
    <a href="#" class="wagont"><img  class="wagont" src="https://kitt.lewagon.com/placeholder/users/alexisjps" width="30" height="30" alt=""></a>
    <a href="#" class="wagont"><img  class="wagont" src="https://kitt.lewagon.com/placeholder/users/Caaam333" width="30" height="30" alt=""></a>
    <a href="#" class="wagont"><img  class="wagont" src="https://kitt.lewagon.com/placeholder/users/Tetreur" width="30" height="30" alt=""></a>
    <a href="#" class="wagont"><img  class="wagont" src="https://kitt.lewagon.com/placeholder/users/medericmesle" width="30" height="30" alt=""></a>
    <a href="#" class="wagont"><img  class="wagont" src="https://kitt.lewagon.com/placeholder/users/christophe126" width="30" height="30" alt=""></a>
  </div>
  <div class="footer-text">
    <p>Le capitalisme <i class="far fa-money-bill-alt grrenn"></i> democratique est en marche.</p>
  </div>
</div>
