<div class="footer">
  <div class="footer-links">
    <a href="#" id="first_i"><i class="fab fa-instagram"></i></a>
    <a href="#" id="second_i"><i class="fab fa-facebook"></i></a>
    <a href="#" id="third_i"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-text">
    <p>Le capitalisme <i class="far fa-money-bill-alt grrenn"></i> democratique est en marche.</p>
  </div>
</div>
