<div class="navbar navbar-expand-sm navbar-lewagon bckopa">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo_b.png'%>
    </a>
    <div class="mr-auto p-2">
      <p class="title">CANDILOC 2022</p>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign-in</a>
          </li>
          <li class="nav-item bck">
            <a class="nav-link" href="#">Sign-Up</a>
          </li>
      </ul>
    </div>
  </div>
  <div>
  </div>
</div>
