<div class="">
  <form action="candidates/" class="container_form">
    <div class="input-groups mb-3">
      <span class="input-group-textl"><%= image_tag "logosearch.png", alt: "Candiloc 2022", width: 24, height: 24 %></span>
      <input type="search" class="form-controlm" name="query" value="<%= params[:query] %>" placeholder="un candidat ?, un parti politique ?, une compétence particulière ? " >
      <span type="submit" class="input-group-textr">Rechercher</span>
    </div>
  </form>
</div>
