<div class="home">
  <video id="background-video" autoplay loop muted poster='elysee.jpeg'>
    <source src="https://stream.mux.com/il02HfXvklY6u012BYiBWbi5krqtHcrzRB/high.mp4?token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InQ5UHZucm9ZY0hQNjhYSmlRQnRHTEVVSkVSSXJ0UXhKIn0.eyJleHAiOjE2NDQ2NzEwNjMsImF1ZCI6InYiLCJzdWIiOiJpbDAySGZYdmtsWTZ1MDEyQllpQldiaTVrcnF0SGNyelJCIn0.jhnI2Ip94tD3y2labOKBjfbdAtI1WJi-ysB4bFx3y_QchNuXgQK7Mq9XYmRnkNgT11968_8lH86W7j_RBMDpX6dOb-EchLqkNcO2gR3bmFl4HzJK4i3xKGSuAl7GRgXFrgZ40Wa2sfWDecDZZa4GisVIts8yPwIxiPzWc7OyPGxjksDb8I-1SJSXR7HEfy6eZ24u0hMD4BKWsDW7BYDtruhfYzVAebyOO1wYffuh9HipCTNGAdBtbSe56OrBl0vyPivNZAb60yeQ6a3_WKeIEwE6ThjiHy6qs9JelCeTyv9jmCvYD0r4urFvw2g1Jhtd1uV-tekGzuLHuR1M6AyuJQ" type="video/mp4">
  </video>
  <%= render "shared/navbar_home"%>
  <div class="container-b text-center centr">
    <h1 class="title-home">Louez votre candidat préféré</h1>
    <%# <%= link_to "COMMENCER", candidates_path, class: "btn_enter text-center"  %>
  </div>
    <div class="center-search">
    <%= render "shared/search_b"%>
  </div>

</div>
