<div class="home">
  <%= render "shared/navbar_home"%>
  <div class="container text-center centr">
    <p class="title-home">Louer votre candidat préféré</p>
    <%= link_to "COMMENCER", candidates_path, class: "btn_enter text-center"  %>
  </div>
  <%= render "shared/footer"%>
</div>
