<div class="home">
  <%= render "shared/navbar_home"%>
  <div class="container text-center centr">
    <p class="title-home">Louer votre candidat préféré</p>
    <a class="btn_enter text-center" href="#">COMMENCER</a>
  </div>
</div>
