<div class="home">
  <video id="background-video" autoplay loop muted >
    <source src="https://res.cloudinary.com/dusd899tr/video/upload/v1644676795/louvre_ex7r7l.mp4" type="video/mp4">
  </video>
  <%= render "shared/navbar_home"%>
  <div class="container-b text-center centr">
    <h1 class="title-home">Louez votre candidat préféré</h1>
    <%# <%= link_to "COMMENCER", candidates_path, class: "btn_enter text-center"  %>
  </div>
    <div class="center-search">
    <%= render "shared/search_b"%>
  </div>

</div>
