<div class="container">
  <div class="card">
    <div class="card-body rounded">
      <div class="card-block text-center">
        <h3>Inscrivez-vous</h3>
      </div>
      <div class="mb-3" class="form mt-3">
        <label for="exampleFormControlInput1" class="form-label">Prenom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
        <label for="exampleFormControlInput1" class="form-label mt-3">Nom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
        <label for="exampleFormControlInput1" class="form-label mt-3">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
        <label for="exampleFormControlInput1" class="form-label mt-3">Mot de passe</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
    <div class="card-block text-center">
      <button type="button" class="btn btn-primary mt-3 mb-3">S'inscrire</button>
      <p>Déjà compte? <span>Connectez-vous</span></p>
    </div>
    </div>
  </div>
</div>