<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
      <div class="card-category">
        <div class="input-group input-group-sm mb-3">
          <h3>Connectez-vous</h3>
          <p>Email</p>
        <input type="text" class="form-control border-danger" class="border border-danger" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <p>Mot de passe</p>
        <input type="text" class="form-control" class="rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <br>
        <br>
        <button type="button" class="btn btn-danger">Connectez-vous</button>
        <br>
        <br>
        <p>Pas encore de compte ?</p>
        <a href="#">Creér un compte</a>
        </div>
    </div>
  </div>
</div>