<div class="banner">
  <%= render "shared/navbar_home"%>
  <div class="container">
    <h1 class="textcenter">Candidats disponible à la location</h1>
  </div>
  <div class="">
    <form action="" class="container_form">
      <div class="input-groups mb-3">
        <span class="input-group-textl"><%= image_tag "logosearch.png", alt: "Candiloc 2022", width: 24, height: 24 %></span>
        <input type="text" class="form-controlm" >
        <span type="submit" class="input-group-textr">Search</span>
      </div>
    </form>
  </div>
</div>
