<div class="container">
    <div>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div>
                    <h3 class="navbar-brand">Candidate Name</h3>
                    <p>Slogan</p>
                </div>
                    <button class="btn btn-outline-danger" type="submit">Disponible</button>
            </div>
        </nav>
    </div>

    <section class="main">
        <div class="container grid-custom">
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://www.actuia.com/wp-content/uploads/2020/01/github.png" alt="" class="img-responsive center-block">
                </div>
                <div class="row col-sm-6">
                <div class="col-xs-6"><img src="https://www.actuia.com/wp-content/uploads/2020/01/github.png" alt="" class="img-responsive"></div>
                <div class="col-xs-6"><img src="https://www.actuia.com/wp-content/uploads/2020/01/github.png" alt="" class="img-responsive"></div>
                <div class="col-xs-6"><img src="https://www.actuia.com/wp-content/uploads/2020/01/github.png" alt="" class="img-responsive"></div>
                <div class="col-xs-6"><img src="https://www.actuia.com/wp-content/uploads/2020/01/github.png" alt="" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </section>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        <div>
            <h3 class="navbar-brand">Description</h3>
        </div>
            <button class="btn btn-outline-danger" type="submit">69€ / J</button>
        </div>
    </nav>

    <div class="card">
        <div class="card-body">
            <p>Le candidat d’extrême droite à l’élection présidentielle 2022 a présenté, lundi 10 janvier, ses vœux à la presse et a esquissé quelques pistes de réforme de l’école, qu’il accuse d’être le lieu « où l’idéologie féministe, LGBT, antiraciste et décoloniale endoctrine nos enfants ». </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>0,01 / 5 - 666 commentaires</h3>
        </div>
    </div>

    <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar" />
        <div class="notification-content">
            <p><small>Jo_facho</small></p>
            <p><small>14th January</small></p>
            <p>Où que nous mène complexité présente, il est nécessaire d'imaginer la plus grande partie des voies déclinables, à court terme.</p>
        </div>    
    </div>
    <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar" />
        <div class="notification-content">
            <p><small>Jo_facho</small></p>
            <p><small>14th January</small></p>
            <p>Où que nous mène complexité présente, il est nécessaire d'imaginer la plus grande partie des voies déclinables, à court terme.</p>
        </div>
    </div>
</div>