<div class="banner">
  <%= render "shared/navbar_home"%>

  <div class="main-container">

    <div class="top-container">
     <div class="top-container-title">
      <h1>Emmanuel Macron</h1>
      <button id="available-button">
      <p>Available</p>
      </button>
    </div>
    <div class="top-container-slogan">
     <p>Grand Marcheur</p>
    </div>
  </div>

  <div class="photo-container">
    <div class="image-main">
      <img src="https://images.assetsdelivery.com/compings_v2/palinchak/palinchak1707/palinchak170700005.jpg" alt="">
    </div>
    <div class="image-thumbnails">
    <div class="first-column"> 
      <img src="https://images.assetsdelivery.com/compings_v2/palinchak/palinchak1707/palinchak170700003.jpg" alt="">
      <img src="https://images.assetsdelivery.com/compings_v2/palinchak/palinchak1807/palinchak180700164.jpg" alt="">
    </div>
    <div class="second-column"> 
      <img src="https://images.assetsdelivery.com/compings_v2/catherinelprod/catherinelprod2004/catherinelprod200400151.jpg" alt="">
      <img src="https://images.assetsdelivery.com/compings_v2/adrianhancu/adrianhancu1901/adrianhancu190100712.jpg" alt="">
    </div>
    </div>  
  </div>

  <div class="button-container"> 
    <button>BOOKER CE CANDIDAT
    </button>
  </div>

  <div class="description-container"> 
    <div class="description-top">
      <div class="description-title">
        <h1>Description</h1>
        <button class="button-price">69€/J</button>
      </div>
      <div class="description-text">
      <p>Le candidat d’extrême droite à l’élection présidentielle 2022 a présenté, lundi 10 janvier, ses vœux à la presse et a esquissé quelques pistes de réforme de l’école, qu’il accuse d’être le lieu « où l’idéologie féministe, LGBT, antiraciste et décoloniale endoctrine nos enfants ». </p>
      </div>
    </div>

    <div class="description-container-body"> 
      <div class="rating">
        <h4>0,01 / 5</h4>
      </div>

      <div class="description-container-comments">
        <div class="comments">
          <h3>User_name</h3>
          <p>YYYY / MM / DD</p>
          <p>Où que nous mène complexité présente, il est nécessaire d'imaginer la plus grande partie des voies déclinables, à court terme.</p>
        </div>
        <div class="comments">
          <h3>User_name</h3>
          <p>YYYY / MM / DD</p>
          <p>Où que nous mène complexité présente, il est nécessaire d'imaginer la plus grande partie des voies déclinables, à court terme.</p>
        </div>
        <div class="comments">
          <h3>User_name</h3>
          <p>YYYY / MM / DD</p>
          <p>Où que nous mène complexité présente, il est nécessaire d'imaginer la plus grande partie des voies déclinables, à court terme.</p>
        </div>

      </div>
    </div>

  </div>





  </div>
</div>