.show-card {
  width: 100%;
  box-shadow: 0px 5px 10px 0px #10286542;
  padding: 2rem 3rem;
  border-radius: 20px;

  .intro-show-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: #e1000f;
    }
    h2 {
      color: #000091;
    }
  }

  .pictures-show-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .picture-show-card-item {
      height: 350px;
    }

    .pictures-size-small-show-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-left: 10px;
    }

    .pictures-size-small-show-card img {
      width: 150px;
      height: 150px;
      flex: 0 0 33%;
    }
  }
}

#available-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  position: static;
  width: 127px;
  height: 42px;
  left: 561px;
  top: 1px;

  background: radial-gradient(
      100% 914.34% at 0% 53.57%,
      rgba(208, 75, 255, 0.6) 0%,
      rgba(191, 32, 217, 0) 100%
    ),
    #ef4135;
  border-radius: 15px;
  color: #ffffff;
}

#available-button p {
  position: static;
  width: 71px;
  height: 22px;
  margin-right: 41px;
  margin-top: 10px;

  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.description-show-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  .item-description-show-card {
    color: white;
    background: #e1000f;
    border-radius: 15px;
    text-align: center;
    padding: 10px 15px;
  }
}

.rating-show-card {
  padding-bottom: 40px;
}
.comments {
  padding-bottom: 10px;
  width: 687px;
  height: 106px;
  margin-bottom: 100px;
}

.comments h3 {
  position: static;
  width: 87px;
  height: 22px;
  left: 0px;
  top: 0px;

  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #01031b;
}

.comments p {
  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #4e4e4e;
}
