.show-card {
  background-color: whitesmoke;
  width: 70%;
  height: fit-content;
  box-shadow: 0px 5px 10px 0px #10286542;
  padding: 2rem 3rem;
  border-radius: 20px;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 125px;
}

.intro-show-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
  h1 {
    color: #e1000f;
    font-family: Marianne-Regular;
  }
  h2 {
    color: #000091;
    font-family: Marianne-Regular;
  }
}

.pictures-show-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 325px;
  width: 675px;
  margin-left: 100px;
  margin-right: 100px;

  .picture-show-card-item {
    height: 325px;
    border-radius: 5px;
    margin-right: 20px;
    img {
      border-radius: 5px;
      box-shadow: 0px 5px 10px 0px #10286542;
    }
  }

  .picture-show-card-thumbnails {
    height: 325px;
    width: 350px;
    img {
      border-radius: 5px;
      box-shadow: 0px 5px 10px 0px #10286542;
      margin-bottom: 20px;
      margin-right: 10px;
    }
  }
}

#available-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 25px;
  position: static;
  width: 127px;
  height: 42px;
  left: 561px;
  top: 1px;

  background: radial-gradient(
      100% 914.34% at 0% 53.57%,
      rgba(208, 75, 255, 0.6) 0%,
      rgba(191, 32, 217, 0) 100%
    ),
    #ef4135;
  border-radius: 15px;
  color: #ffffff;
}

#available-button p {
  position: static;
  width: 71px;
  height: 22px;
  margin-right: 41px;
  margin-top: 10px;

  font-family: Marianne-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

a {
  color: white;
}

.rating-show-card {
  h3 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
.fa-star {
  color: #e1000f;
}

.description-show-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.description-intro-show-card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}

.price-show-candidate {
  padding-top: 15px;
  background-color: #ef4135;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #ef4135;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.rating-show-card {
  padding-bottom: 15px;
  margin-left: 100px;
  margin-right: 100px;
}
.comments-show-card {
  padding-bottom: 10px;
  width: 687px;
  height: fit-content;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;

  .h3 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.comment {
  height: fit-content;
  width: 687px;
  padding-bottom: 40px;
}

.comment-header {
  display: flex;
}

.comment-body {
  display: flex;
}

#user-name {
  margin-right: 10px;
}
#comment-background {
  border-radius: 5px;
  width: 600px;
}

.logo_test {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
