.wrapper {
  display: flex;
}

.main-show-card {
  justify-content: center;
  margin: 0 auto;
}

.show-card {
  flex-direction: row;
  background-color: whitesmoke;
  height: fit-content;
  box-shadow: 0px 5px 10px 0px #10286542;
  padding: 2rem 2rem;
  border-radius: 20px;
  top: 0px;
  font-family: Marianne-Regular;
  position: relative;
  top: -150px;
  margin: 0 auto;
  width: 1100px;
}

.intro-show-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 680px;
  font-family: Marianne-Regular;
  .h3 {
    margin-bottom: Opx;
  }
}

#title-show-card {
  color: black;
  font-family: Marianne-Regular;
  margin-bottom: 30px;
}

.item-intro-show-card-logo {
  position: relative;
  top: -27px;
}

a {
  color: white;
}

.rating-show-card {
  h3 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
.fa-star {
  color: #e1000f;
}

.description-show-card {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 60px;
  margin: 0 auto;
  width: 680px;
  text-align: justify;
}

.description-intro-show-card {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 30px;
}

.price-show-candidate {
  padding-top: 15px;
  background-color: #ef4135;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #ef4135;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.item-description-show-card {
  margin-bottom: 40px;
}

.stats-show-card {
  padding-bottom: 15px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  display: flex;
}

.stats {
  flex-direction: column;
}

.comments-show-card {
  padding-bottom: 10px;
  width: 680px;
  height: fit-content;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;

  .h3 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: Marianne-regular;
  }
}

#user-name {
  margin-right: 10px;
}

.logo_test {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  margin-bottom: 80px;
  margin-right: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px 25px;
  grid-template-areas:
    "Main_photo Main_photo Thumb_1 Thumb_3"
    "Main_photo Main_photo Thumb_2 Thumb_4"
    ". . . .";
  width: 645px;
  height: 325px;
}
.Main_photo {
  grid-area: Main_photo;
  width: 325px;
  height: 325px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
}
.Thumb_1 {
  grid-area: Thumb_1;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
}
.Thumb_2 {
  grid-area: Thumb_2;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
}
.Thumb_3 {
  grid-area: Thumb_3;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
}
.Thumb_4 {
  grid-area: Thumb_4;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
}

.card-bottom-container {
  display: grid;
  grid-template-columns: 600.2px 0.1px 300px;
  grid-template-rows: 88.9px 511.1px 300px;
  gap: 0px 0px;
  margin-bottom: 40px;
  grid-auto-flow: row;
  grid-template-areas:
    "Stats . Sidebar"
    "Comments . Sidebar"
    ". . .";
}

.Stats {
  grid-area: Stats;
}
.Comments {
  grid-area: Comments;
  width: 550px;
  text-align: justify;
  margin-left: 20px;
}
.comment-body {
  font-size: small;
}
.Sidebar {
  grid-area: Sidebar;
}

.sidebar {
  box-shadow: 0px 5px 10px 0px #10286542;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  height: 40vh;
  min-height: 200px;
  overflow: auto;
  position: sticky;
  top: 5%;
  margin-left: 20px;
  margin-right: 100px;
  margin-top: 40px;
  text-align: center;
}

.show-footer {
  padding-bottom: 0px;
  bottom: 0;
  width: 100%;
}

.btn-french {
  width: 110px;
  height: 50px;
  margin-top: 20px;
  background-color: #e1000f;
  border-radius: 20px;
}
