
.container-card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 933px;
}

.cards {
  width: 900;
  display: grid;
  grid-template-columns: 285px 285px 285px;
  grid-column-gap: 2em;
}

.one-card {
  width: 285px;
  height: 364.5px;
  box-shadow: 0px 5px 10px rgba(16, 40, 101, 0.26);
  border-radius: 15px;
  position: relative;
  margin-bottom: 50px;
  background-color: white;

  > a {
    height: fit-content;
  }
}

.one-card:hover {
  box-shadow: 0 0 0 3px rgb(71, 172, 255);
  transition: 0.2s ease-in-out;

   > a > .one-card-body > .one-card-title {
     color: rgb(71, 172, 255);
     transition: 0.2s ease-in-out;
   }

   > a > .card-imag-top {
     filter: contrast(80%);
     filter: hue-rotate(150deg);
     opacity: 0.8;
     transition: 0.2s ease-in-out;
   }
}


.one-card-logo {
  position: absolute;
  width: 82;
  height: 50;
  top: 133px;
  left: 178px;
  right: 25px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
}

.one-card-logo img {
  width: 57px;
  height: 29px;
  object-fit: cover;

}
.card-content {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 2px 10px 3px rgba(29, 51, 73, 0.12);
}

.card-content:hover {
  box-shadow: 0 0 0 3px rgb(71, 172, 255);
}

.card-txt {
  height: 100%;
  width: 100%;
  block-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}
.txt-top {
  > p {
    margin: 0;
  }
  > .header {
    padding-bottom: 10px;
  }
}

.star {
  display: flex;

  > * {
    padding-right: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h5, p {
    margin: 0;
  }
}
.card-inside {
  width: fit-content;
}

.card-imag-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 1;
  object-fit: cover;
  filter: contrast(100%);
}

.card-imag-list {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
}

.card-imag-list:hover {
  opacity: 0.8;
}

.one-card-body {
  //flex: 1 1 auto;
  height: fit-content;
  min-height: 1px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  text-align: center;
  color: #01031B;
}

.one-card-title {
  font-size: 21px;
  line-height: 20px;
  text-align: left;
  margin-left: 14px;
  margin-top: 20px;
  height: 20px;
  font-family: 'Marianne';
  font-size: 20px;
}

.one-card-text {
  font-size: 12px;
  text-align: left;
  margin-left: 14px;
  margin-top: 8px;
  margin-bottom: 4px;
  color: #4E4E4E;
  text-overflow: clip;
  width: 244px;
}

.one-card-text-data {
  font-size: 12px;
  text-align: left;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 8px;
  color: #A9A9A9;
  text-overflow: clip;
  width: 244px;
  height: 64px;
  text-align: justify ;
  line-height: 16px;
}

.one-card-text-data span {
  height: 54px;
  color: black;
}

.one-card-price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 11px;
  align-items: baseline;

  > :last-child {
    color: #4E4E4E;
  }

  > p {
    font-family: 'Marianne';
    font-feature-settings: 'tnum' on, 'onum' on, 'ordn' on, 'ss01' on;
    letter-spacing: 1px;
  }
}

.one-card-price-p {
  font-size: 14px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 19px;
  margin-left: 21px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.one-card-mega-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
