.card-category {
  height: 280px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000091;
  font-size: 11px;
  line-height: 16px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
