.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content,
[class*="mapboxgl-popup-anchor-"] {
  text-align: center;
  border-radius: 50%;
  // font-family: 'Open Sans', sans-serif;
  > .mapboxgl-popup-content {
    border-radius: 15px;

    > .mapboxgl-popup-close-button {
      top: 10px;
      right: 10px;
    }
  }
}
