.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content,
[class*="mapboxgl-popup-anchor-"] {
  padding-top: 5px;
  text-align: center;
  border-radius: 50%;
  // font-family: 'Open Sans', sans-serif;
  > .mapboxgl-popup-content {
    border-radius: 15px;

    > .mapboxgl-popup-close-button {
      top: 10px;
      right: 10px;
    }
  }
}
.img-marker {
  width: 100%;
  height: auto;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.parti-prix {
  display: flex;
  justify-content: space-between;
}
