.mapboxgl-popup {
  max-width: 200px;
}

<<<<<<< HEAD
.mapboxgl-popup-content,
[class*="mapboxgl-popup-anchor-"] {
=======
.mapboxgl-popup-content, [class*="mapboxgl-popup-anchor-"] {
>>>>>>> e8bd5efbfc83e7be055000c064b577007111ad52
  text-align: center;
  border-radius: 50%;
  // font-family: 'Open Sans', sans-serif;
  > .mapboxgl-popup-content {
    border-radius: 15px;

    > .mapboxgl-popup-close-button {
      top: 10px;
      right: 10px;
    }
  }
}
