.navbar-lewagon {
  // justify-content: space-between;
    //backdrop-filter: blur(44px);
  opacity: 0.6;
  background: #000000;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 32px;
  height: 32px;
}

.title {
  justify-content: flex-start;
  color: white;
  opacity: 1;
  font-size: 21px;
  font-weight: lighter;
  margin: 0;
}

.navbar a {
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.bck a {
  color: #000091;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.flaglg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img_flag {
  height: 3px;
  width: 90%;

}
