.space-form-review {
  margin-top: 15px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  outline: 0;
}

#review_comment {
  margin-bottom: 10px;
}

.modal-header{
  text-align: center;
}
