.containerrecap{
  width: 70%;
  background-color: white;
  position: absolute;
  top: 208px;
  border-radius: 20px;
  padding: 50px;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  width: 478px;
  height: 104px;
  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: #E1000F;
  margin: 0 auto;
  margin-bottom: 50px;
}

.container-table {
  width: 872px;
  background-color: #D5EDFE;
  box-shadow: inset 0px 2px 4.5px rgba(0, 0, 0, 0.2);
  border-radius: 23px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.table-striped > tbody > th:nth-of-type(1) {
  border-radius: 10px;

}

.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  --bs-table-accent-bg: #FFFF;
  color: #545454;
}
.bck-color {
  background-color: #F9F9F9;
}

td {
  height: 80px;
}
thead {
  border: 1 solid white;
  padding: Opx;
}

th {
  font-size: 14px;
  color: #4E4E4E;
}

.aligntxt {
  text-align: center;
}




.brun {
  color: #000091;
  padding: 6px 8px;
  border-radius: 18px;
  text-align: center;
  background-color: #D5EDFE;
  border: 1px solid #AFC5E7;
  padding: 6px 8px;
  font-size: 14px;
}

.bfinish{
  border-radius: 18px;
  color: #0A3A02;
  text-align: center;
  background-color: #D5FED7;
  border: 1px solid #094808;
  padding: 6px 8px;
  font-size: 14px;
}
.span {
  text-align: center;
}


.table th, .table td, .table td p {
  vertical-align: middle;
  color: #3A3A3A;
}

i {
  font-size: 20px;
  color: black;
}
